<a href="https://colab.research.google.com/github/milanfx/Course/blob/main/Project_Data_Science_Ecosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<hr color="Indigo"><font color="Indigo" size="7" face="Roboto Condensed SemiBold">
Project - Data Science Ecosystem
</font><hr color="Indigo">

---
## **1. Create a Jupyter Notebook**
---

- Create a new Jupyter notebook called DataScienceEcosystem.ipynb

<br>

---
## **2. Create Markdown Cell with Title of the Notebook**
---

- Create a markdown cell with the title "Data Science Tools and Ecosystem" using H1 style heading.

<h1><b>Data Science Tools and Ecosystem<b></h1>

---
## **3. Create a Markdown Cell for an Introduction**
---

- Write an introductory sentence about the notebook such as the follows:
  
  >"In this notebook, Data Science Tools and Ecosystem are summarized."

**In this notebook, Data Science Tools and Ecosystem are summarized.**

---
## **4. Create a Markdown Cell to List Data Science Languages**
---

- Start the cell with an overview line such as:

  >Some of the popular languages that Data Scientists use are:

- Then create an ordered list (i.e. numbered) listing 3 (or more) commonly used languages for data science.

**Popular Languages for Data Scientists:**

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

---
## **5. Create a Markdown Cell to List Data Science Libraries**
---

- Add an overview line to the cell like:

  > Some of the commonly used libraries used by Data Scientists include:

- Below this line add an ordered list listing 3 (or more) commonly used libraries in data science.

**Popular Libraries for Data Scientists:**

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. TensorFlow
7. Pytorch

---
## **6. Create a Markdown Cell with a Table of Data Science tools**
---

- Create a single column table in this cell with the first row containing the header Data Science Tools.

- The subsequent three rows in the table should indicate three development environment open source tools used in data science.

|Data Science Tools|
|:------------------:|
| Jupyter Notebooks|
| Apache Zeppelin |
| RStudio     |

---
## **7. Create a Markdown Cell Introducing Arithmetic Expression Examples**
---

- Add a line in this cell with H3 style heading with text like:

  >Below are a few examples of evaluating arithmetic expressions in Python.

<h3><b>Below are a few examples of evaluating arithmetic expressions in Python.</b></h3>

---
## **8. Create a Code Cell to Multiply and Add Numbers**
---

- In this code cell evaluate the expression (3*4)+5.

- Insert a comment line before the expression to explain the operation e.g.  

  > This a simple arithmetic expression to mutiply then add integers.

- Then execute the cell to ensure the expression returns the expected output of 17.

In [1]:
# This a simple arithmetic expression to mutiply then add integers.

(3 * 4) + 5

17

---
## **9. Create a Code Cell to Convert Minutes to Hours**
---

- In this code cell write an expression that converts 200 minutes into hours.

- Insert a comment line before the expression to explain the operation e.g.  

 >This will convert 200 minutes to hours by diving by 60.

- Run the cell to evaluate the expression.

In [2]:
# This will convert 200 minutes to hours by diving by 60.

200 / 60

3.3333333333333335

---
## **10. Insert a Markdown Cell to List Objectives**
---

- Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered

  > i.e. some of the key takeaways from the course.
  
- In this new cell start with an introductory line titled: Objectives: in bold font.

- Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

**Objectives:**

- Popular Data Science Tools
- Popular Data Science Languages
- Libraries, Datasets, and Models
- Interactive Computing Environments

---
## **11. Create a Markdown Cell to Indicate the Author's name**
---

- In this markdown cell markdown cell include the following text Author in H2 style heading.

- Include your name as regular text below the word Author.

## **Author**

**Milanfx**

---
## **12. Share your Notebook through GitHub**
---

- Upload your notebook to a public respository on GitHub.

<br>

---
## **13. Take a Screenshot of the First Page of the Notebook**
---

<br>

<hr color="Indigo">

<hr color="Indigo">